<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Learnzy : Fun Learning !</title>
    <!-- Bootstrap link  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/passportlogin.css">

  </head>
  <body>

<%- include('partials/navbar')%>

<center><h3 style=" margin-top: -3vh; ">Learnzy Signup</h3></center>

    <div class="form">
          <form method="post" action="/oauth/signup">



            <div class="username">
                <div class="left">
                   <i class="fa fa-user"></i>
                </div>
                <div class="right">
                   <input type="text" placeholder="name" name="name">
                </div>
             </div>

             <div class="username">
                <div class="left">
                   <i class="fa fa-envelope"></i>
                </div>
                <div class="right">
                   <input type="email" placeholder="email" name="email">
                </div>
             </div>

             <div class="username">
                <div class="left">
                   <i class="fa fa-unlock"></i>
                </div>
                <div class="right">
                   <input type="password" placeholder="password" name="password">
                </div>
             </div>

             <div class="username">
                <div class="left">
                   <i class="fa fa-phone"></i>
                </div>
                <div class="right">
                   <input type="text" placeholder="phone" name="Phone">
                </div>
             </div>

             <div class="sign-up">
                <input type="submit" value="Signup">
             </div>
        
          </form>


          <div class="passport-login">
             <a href="oauth/google" id="google-login-button"><button><i class="fa fa-google"></i> &nbsp Sign-up with Google</button></a>
          </div>
       </div>
  </body>
</html>
